.qr-code-component {
    --primary-color: #2C7DFA;
    --primary-color-shade: rgba(255,255,255,0.06);
    --background-color: #D5E1EF;

    --heading-font-color: #1F314F;
    --body-font-color: #7D889E;

    --font-family: 'Outfit', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
}

.qr-code-component {
    width: 100%;
    min-height: 100vh;
    padding: 2em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-color);

    font-family: var(--font-family);
    font-size: 1rem;
    line-height: 1.25;
}

.qr-code-component .card {
    max-width: 320px;
    padding: 1em;
    border-radius: 20px;
    
    color: var(--body-font-color);
    background-color: white;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
    
    text-align: center;
}

.qr-code-component .qr-code {
    padding: 64px;
    border-radius: 10px;

    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--primary-color);
}

/* Decorative background bubbles for QR Code */
.qr-code-component .qr-code:before, .qr-code-component .qr-code:after {
    content: '';
    width: 328px;
    height: 328px;
    border-radius: 50%;

    position: absolute;
    top: -160px;
    left: -133px;
    z-index: 0;

    background-color: var(--primary-color-shade);
}

.qr-code-component .qr-code:after {
    width: 270px;
    height: 270px;
    
    top: 205px;
    left: 131px;
}
/* End decorative bubbles */

.qr-code-component .qr-code img {
    width: 160px;
    position: relative;
    z-index: 1;
}

.qr-code-component .description {
    margin: 1.5em 1em;
    font-size: 0.9375rem;
}

.qr-code-component h1 {
    color: var(--heading-font-color);
    font-size: 1.375rem;
}